/* Styles for 07-class-and-ids.html */
.green {
	color: green;
}

#blue {
	color: blue;
}

#centered {
	text-align: center;
}


/* Styles for 08-text-align.html */
#left {
	text-align: left;
}

#center {
	text-align: center;
}

#right {
	text-align: right;
}


/* Styles for 09-tables.html */
table {
	text-align: center; /*Notice how this doesn't align the entire table -- just the text within each cell.*/
}


/* Styles for 10-containers.html */