/* Styles for 07-class-and-ids.html */
.green {
	color: green;
}

#blue {
	color: blue;
}

#centered {
	text-align: center;
}


/* Styles for 08-text-align.html */
#left {
	text-align: left;
}

#center {
	text-align: center;
}

#right {
	text-align: right;
}


/* Styles for 09-tables.html */
table {
	text-align: center; /* Notice how this doesn't align the entire table -- just the text within each cell. */
	margin: auto; /* This centers the table by telling the browser to set equal margins on each side of the element */
}


/* Styles for 10-containers.html */
h1 {
	text-align: center;
}

ol {
	text-align: center;
}

li {
	display: inline-block;
	padding: 1em;
}